* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    color: #fff;
    font-family: 'M PLUS 1', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.dark_theme {
    background: #141415;
    color: #fff;
}

.light_theme {
    background: #fff;
    color: #141415;
}

.flex-space-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


a {
    text-decoration: none;
}

.margin-1 {
    margin: 16px;
}

.margin-bottom-1 {
    margin-bottom: 16px;
}

.accordion {
    padding: 16px;
}

.title {
    font-size: large;
    color: #F7931E;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.title:hover {
    color: #5B85AA;
}

.primary {
    color: #F7931E;
}

.secondary {
    color: #5B85AA;
}

.my-posts {
    min-height: 70vh;
    margin: 1rem;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.reveal-content {
    max-height: fit-content;
    opacity: 1;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 60px;
    height: 60px;
}

.padding-1 {
    padding: 1em;
}

.width-100 {
    width: 100%;
}

.link>a {
    color: #fff;
    position: relative;
    padding-bottom: 6px;
}

.link>a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    margin: 1px 0;
    transform: scaleX(0);
    background-color: #5B85AA;
    transform-origin: left;
    transition: transform 0.2s ease-in;
}

.link>a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.footer {
    border-top: 0.25px solid white;
}

.flex-col-center .link>a {
    color: #F7931E;
}

.flex-col-center div {
    margin: 8px 0;
    text-align: center;
}